.spinner-wrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.square {
  width: 4px;
  height: 24px;
  background: #8b7355;
  border-radius: 8px;
  display: block;
  animation: turn 2.5s ease infinite;
}

.top {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.bottom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.left {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.right {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

@keyframes turn {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
  70% {
    transform: translateX(400%) translateY(100%) rotate(90deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0deg);
  }
}
