.spinner {
  position: relative;
  width: 80px;
  height: 80px;
}

.spinner-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top-color: #8b7355;
  border-radius: 50%;
  animation: spin 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;

  &:nth-child(1) {
    animation-delay: 0s;
    border-top-color: #8b7355;
  }

  &:nth-child(2) {
    animation-delay: -0.5s;
    border-top-color: #a68a6d;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 15%;
  }

  &:nth-child(3) {
    animation-delay: -1s;
    border-top-color: #c4a582;
    width: 40%;
    height: 40%;
    top: 30%;
    left: 30%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
